/.idea/
/target/
/test/
/spring-cloud-demo.iml
/src/test/
/config-server/src/test/
/config-client/target/
/config-client/src/test/
/config-server/target/
/eureka-server-a/target/
/eureka-server-a/src/test/
/eureka-server-b/target/
/eureka-server-b/src/test/
/user-client-a/target/
/user-client-a/src/test/
/user-client-b/target/
/user-client-b/src/test/
/user-server-a/target/
/user-server-a/src/test/
/user-server-b/target/
/user-server-b/src/test/
/zuul-server/target/
/zuul-server/src/test/
